body {
    background-color: #deb887;
  
    font-family: 'Lora', serif;
    /* Smoothly transition the background color */
    transition: background-color .5s;
  }
  
  .player {
    flex: 1;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
  }
  
  .now-playing {
    font-size: 1rem;
  }
  
  .track-name {
    font-size: 2rem;
  }

  .track-folder {
    font-size: 1.5rem;
  }
  
  .track-artist {
    font-size: 1.5rem;
  }


  @media (max-width: 767px){
    .now-playing {
      font-size: 0.75rem;
    }
    
    .track-name {
      font-size: 1.5rem;
    }
  
    .track-folder {
      font-size: 1rem;
    }
    
    .track-artist {
      font-size: 1rem;
    }
  }


  @media (min-width: 767px){
    .now-playing {
      font-size: 1rem;
    }
    
    .track-name {
      font-size: 2rem;
    }
  
    .track-folder {
      font-size: 1.5rem;
    }
    
    .track-artist {
      font-size: 1.5rem;
    }
  }


  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .playpause-track, .prev-track, .next-track {
    padding: 25px;
    opacity: 0.8;
  
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 60%;
  }
  
  .volume_slider {
    width: 30%;
  }
  
  .current-time, .total-duration {
    padding: 10px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }



  .listItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .listItem:hover {
    background-color: #f0f0f0;
  }


  .container {
    display: flex;
  }
  
  .playlist {
    width: 25%; /* Set the width of the playlist as needed */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for WebKit */
    /* Hide the scrollbar */
    height: 95vh; /* Adjust the height as needed */
    padding: 20px;
    border-right: 1px solid #ccc;
  }

  .playlist::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit */
  }

  /* Define larger font size for folder names */
.folderName {
  font-size: 1.5em; /* Adjust as needed */
}


/* Define styles for the active track */
.activeTrack {
  background-color: #f0f0f0; /* Change background color or add other styles */
  font-weight: bold; /* Example: bold font for active track */
  /* Add other styles to highlight the active track */
}




/* Display the scrollable list underneath the player for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .playlist {
    display: block;
    width: 95%; /* Set the width of the playlist as needed */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for WebKit */
    /* Hide the scrollbar */
    height: 50vh; /* Adjust the height as needed */
    padding: 20px;
    border-right: 1px solid #ccc;
  }

  .playlist::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit */
  }
}




  
